# =====================================================
# PYTHON
# =====================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =====================================================
# VIRTUAL ENVIRONMENTS
# =====================================================

venv/
.env/

# =====================================================
# JUPYTER
# =====================================================

.ipynb_checkpoints/

# =====================================================
# LARGE DATA FILES
# =====================================================

*.parquet
*.csv

# =====================================================
# GENERATED OUTPUTS
# =====================================================

output/
partitioned_output/

# =====================================================
# OS FILES
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# VS CODE
# =====================================================

.vscode/

# =====================================================
# LOG FILES
# =====================================================

*.log

# =====================================================
# DATABASE FILES
# =====================================================

*.sqlite
*.db

# =====================================================
# TEMP FILES
# =====================================================

temp/
tmp/